@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
```

_Useful information_:

- _form label color_: rgba(0,0,0,.05)
- _form input color_: rgba(0,0,0,.05)
- _form button background color_: #fb3e44
- _form button letters color_: white*/

body {
  font-family: 'Poppins';
  width: 90%;
  margin:auto;
}

/*__________________nav bar__________________*/
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.nifty-penguin{
	font-weight: 500;
	word-spacing: 3px;
}

nav{
	width: 600px;
}


nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a{
	text-decoration: none;
	color:black;
	font-weight: 600;
	
}

.BlackHeart{
	width: 20px;
	margin-right:1rem;
}

.nmp-logo{
	width:75;
	height: 20;
  padding: 15px 15px 5px 5px;
}



.bottom-bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 25px;
  box-shadow: 0 5px 5px -3px lightgray;
}
.bottom-bar-logo{
  text-align: left;
}

/* seach bar class */
.search-bar{
  width: 70%;
  display: flex;
  align-items: stretch;
}

  .magnifying-glass{
    padding:10px;
    background-color: rgb(242, 243, 244);
	  width:15px;
	  height:15px;
  }
  .search-bar [type="text"]{
    width: 90%;
    height: 35px;
    margin: auto 0px;
    color: rgb(112, 123, 124);
    background-color:rgb(242, 243, 244);
    border: 0;
  }
  	.search-bar [type="text"]{
		  font-size: 1em;
		  font-weight: lighter;
	  }

  .button-search{
	padding: 0 30px;
    color: white;
    background-color: #FB3B49;
    border: none;
    border-radius: 2px;
  }

  .login-bar{
	  margin-left: 60px;
	  display: flex;
	  align-items: center;
	  /* justify-items: flex-end; */
  }
    .join-button{
	  border: 1px solid;
	  padding: 5px 20px;
	  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    }

      .login-bar a{
		font-weight: bold;
        color: black;
        text-decoration: none;
      }

      .login-button{
		  padding: 5px 20px;
		  margin: auto 0 auto 40px;
      }


/*__________________nav bar__________________*/


/*_______________Build amazing things________*/

h1{
	font-size: 7em;
	line-height: .5em;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 0.5em;
}
#amazing-things{
	background-color: rgba(232,217,217,.3);
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction:column;
	height: 600px;

	
}
#amazing-things{
	font: Poppins;
	/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet"> */
	font-weight: 700;
}

	.build-amazing-text{
		text-align: center;
		width: 420;
	}

	.amazing-things-buttons{
		display: flex;
		justify-content: center;
	}

		.amazing-things-buttons span{
			display: flex;
			align-items: center;
			justify-content: center;
			margin:0 20px;
			width:200px;
			height: 25px;
			padding: 10px 0;
		}


			#see-plans{
				color: white;
				background-color: #FB3B49;
				box-shadow: 6px 6px 0 rgba(251,59,73,.2);

			}

			#join-free{
				background-color: white;

			}

/*_______________Build amazing things________*/

#bring-the-best{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction:column;
	height: 600px;
}


#bring-the-best h2{
	background-color: rgba(255,204,53,.4);
	transform: skew(9deg,0deg);
	font-style: italic;
	padding:0 20px;
	margin-top: 40px;
	word-spacing: -1px;
	font-weight: bolder;
}

.bring-the-best-text{
	text-align: center;
		width: 700;
}


/*______Bring the best of open source to your company____*/
.hexagon-img{
	width: 200px;
	height: 200px;
}


/*______Bring the best of open source to your company____*/




/*_______________Zero configuration________*/
.benefits-flex-box{
	display: flex;
	justify-content: center;
	justify-content: space-between;
}
	.benefits-box{
		width:20%;
		padding: 0 5%;
		/*flex display: flex;
		justify-content: center;
		justify-content: space-between;*/
	}
		#benefits img{
			width: 50px;
			height: 50px;
		}
		#benefits h4{
			color: #ED1C24;
		}


.Create-an-Org{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 60px auto 40px;
	background-color: black;
	box-shadow:6px 6px 0 rgba(128,83,35,.2);
	width:250px;
	height: 50px;
}
	.Create-an-Org h4{
		color: white;
	}
/*_______________Zero configuration________*/
